<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/liha">Liharuuat</a></li>
        <li><a href="/kana">Kanaruuat</a></li>
        <li><a href="/kala">Kalaruuat</a></li>
        <li><a href="/kasvisruoka">Kasvisruuat</a></li>
        <li><a href="/pasta">Pastaruuat</a></li>
        <li><a href="/peruna">Perunaruuat</a></li>
        <li><a href="/tortilla">Tortillat</a></li>
        <li><a href="/pitaleipä">Pitaleivät</a></li>                
        <li><a href="/keitto">Keitot</a></li>
        <li><a href="/välipala">Välipalat ja herkut</a></li>
        <li><a href="/salaatti">Salaatit</a></li>
        <li><a href="/jälkiruoka">Jälkiruuat</a></li>
        <li><a href="/juoma">Juomat</a></li>
        <li><a href="/drinkki">Drinkit</a></li>
        <li><a href="/lisaa-resepti">Lisää oma!</a></li>


    </ul>
</nav>