/* styles.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  /* Page container styles */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styles */
  h1 {
    color: #333;
    text-align: center;
    margin-top: 1;
  }

  
  /* Navigation styles */
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  

  
.nav-boxes {
  display: flex;
  flex-wrap: wrap;
}

.nav-box {
  width: 33%;
  height: 100px;
}

.nav-box a {
  display: flex;
  color: #fff;
  text-decoration: none;
  /* padding: 10px; */
  text-align: center;
  height: 90%;
  width: 90%;
}

/* .nav-box a p {
  top: 50%;
  left: 50%;
  position: relative;
} */

.nav-box a:hover {
  background-color: #555;
}

.container-recipe {
  display: flex;
  justify-content: space-between;
}

.list {
  width: 33.33%;
  padding: 20px;
}

.image {
  width: 33.33%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust as needed */
}

.centered-div button {
  margin-top: 10px; /* Adjust as needed */
}
